<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/styles/fonts.css">
    <link rel="stylesheet" href="assets/styles/reset.css">
    <link rel="stylesheet" href="assets/styles/fran-utils.css">
    <link rel="stylesheet" href="assets/styles/medikamente.css">
    <link rel="stylesheet" href="assets/styles/single-med.css">

    <title>MediTime</title>
</head>
<body>
    
