<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/assets/styles/fonts.css">   
    <link rel="stylesheet" href="/assets/styles/reset.css">
    <link rel="stylesheet" href="/assets/styles/variables.css">
    <link rel="stylesheet" href="/assets/styles/fran-utils.css">
    <link rel="stylesheet" href="/assets/styles/profilehead.css">

    <link rel="stylesheet" href="/assets/styles/calendar.css">

    <link rel="stylesheet" href="/assets/styles/nav.css">
    <link rel="stylesheet" href="/assets/styles/home.css">
    <link rel="stylesheet" href="/assets/styles/dashboard.css">
    <link rel="stylesheet" href="/assets/styles/profile.css">
    <link rel="stylesheet" href="/assets/styles/neue-medikamente.css">
    <link rel="stylesheet" href="/assets/styles/medikamente.css">

    <link rel="stylesheet" href="/assets/styles/neue-therapie.css">
    <link rel="stylesheet" href="/assets/styles/single-med.css">
    <link rel="stylesheet" href="/assets/styles/update-med.css">
    <link rel="stylesheet" href="/assets/styles/therapie.css">
    <link rel="stylesheet" href="/assets/styles/single-therapie.css">
    <link rel="stylesheet" href="/assets/styles/update-therapie.css">

    <script src="https://kit.fontawesome.com/08168b175b.js" crossorigin="anonymous"></script>
    <title><%=title%></title>

</head>
<body>
    
