
<nav>
    <ul>
        <!-- <li><a href="/auth/login">Home</a></li> -->
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/medikamente">Medikamente</a></li>
        <li><a href="/therapie">Therapie</a></li>
        <li><a href="/profile">Profil</a></li>
        
    </ul>
</nav>