<header>
    <a href='<%=title === "medikamente" ? "/medikamente" : "/therapie"%>'> &larr; zurück zu <%=title === 'medikamente' ? "Medikamente" : "Therapie" %></a> 
    <img src="<%=data.url_picture%>" alt="">
</header>