<header>
    <a href='<%=title === "Neues Medikament" ? "/medikamente" : "/therapie"%>'> &larr; zurück zu <%=title === 'Neues Medikament' ? "Medikamente" : "Therapie" %></a> 
    <img src="<%=data.url_picture%>" alt="">
</header>