<%- include('./partials/head') %>
<%- include('./partials/profilehead') %>

<section id="dashboard">

    <h1>Hi from the dashboard. This page is behind the login. User lands here after logging in.</h1>

</section>

<%- include('./partials/nav') %>
<%- include('./partials/footer') %>
