<%- include('./partials/head') %>


<h1>Hi from the dashboard. This page is behind the login. User lands here after logging in.</h1>

<%- include('./partials/nav') %>
<%- include('./partials/footer') %>
