<%- include('./partials/head') %>
<%# include('./partials/nav') %>

<h1>Hi from the homepage</h1>

<a href="/auth/google">Login here<img src="../assets/img/google.png" alt=""></a>
<br>
<a href="/auth/google">Register here<img src="../assets/img/google.png" alt=""></a>


<%- include('./partials/footer') %>
