<%- include('./partials/head') %>
<%# include('./partials/nav') %>
<section id="home">
    <div>
      <img src="../assets/img/clock.svg" alt="">  
    </div>
    <h1>Medi<span>Time</span></h1>
    <p>Medicine Reminder and Inventory</p>

    <a href="/auth/google">  Registrieren <img src="../assets/img/google.png" alt=""></a>
    <br>
    <a href="/auth/google">Login <img src="../assets/img/google.png" alt=""></a>

  <p>Fragen? <span>FAQ</span> </p>
    
</section>


<%- include('./partials/footer') %>
