<%- include('./partials/head') %>
<%- include('./partials/nav') %>

<h1>Hi from the login page</h1>
<a href="/auth/google">Login here<img src="../assets/img/google.png" alt=""></a>

<%- include('./partials/footer') %>
