<%- include('./partials/head') %>
<%- include('./partials/nav') %>



<a href="/neue-medikament">Medikament anlegen</a>
<h1>Hi from the medikamente page. All medicines are looped thru' here</h1>



<%- include('./partials/footer') %>
