<%- include('./partials/head') %>
<%- include('./partials/nav') %>

<h1>This is the Create or 'New medicine' page with form </h1>


<form action="/neue-medikament" method="POST">
    <input type="text" name="articlename"  placeholder="Produkt-Name">
    <input type="text" name="url"  placeholder="Dosierung">
    <input type="text" name="url"  placeholder="Darreichungsformen">
    <input type="text" name="url"  placeholder="Menge">
    <input type="text" name="url"  placeholder="Auswählen">
</form>

<a href="">Weiter</a>




<%- include('./partials/footer') %>
