<%- include('./partials/head') %>
<%- include('./partials/nav') %>

<%= JSON.stringify(data) %>
<h1>Hi from the profile page</h1>
<p>Name</p>
<p>Email</p>

<a href="/auth/logout">Logout</a>
<%- include('./partials/footer') %>
