<%- include('./partials/head') %>

<%- include('./partials/profilehead') %>

<h1>Hi from the therapie page. Calendar and timeline are displayed here...</h1>

<%- include('./partials/nav') %>
<%- include('./partials/footer') %>