<%- include('./partials/head') %>

<section id="webpage">
<div>
    <img src="/assets/img/webpage2.png" alt="" class="phone">
</div>
<div class="text">
    <h1>Medi<span>Time</span></h1>
    <img src="/assets/img/clock.svg" alt="" class="clock">
    <h2>Medicine Reminder and Inventory</h2>
    <img src="/assets/img/app.png" alt="" class="appstore">
</div>
</section>

<%- include('./partials/footer') %>