#Therapie{
  min-height:70vh;
  position: relative;
}

#Therapie article{

  font-size: 21px;
  box-shadow: 0px 6px 18px
   rgba(144, 164, 183, 0.22);
  border-radius: 4px;
  font-size: 21px;
  border: none;
  padding: .5rem 3%;
  display: flex;
  align-items: center;
  /* min-height: 100px; */
  margin: 1rem;
  position: relative;
}



/* #Therapie img{
    margin-top: 25%;
    margin-right: 5%;
} */

#Therapie .icon-wrap {
  position: relative;
}

#Therapie .icon-wrap-purple {
  background: #b88ce2;
  border-radius: 10px;
  height: 40px;
  width: 40px
  }
  
  #Therapie .icon-wrap-yellow {
    background: #FDEEE0;
    border-radius: 10px;
    height: 40px;
    width: 40px
  }
  
  #Therapie .icon-wrap-purple img {
    width: 35px;
    position: absolute;
    top: 52%;
    left: 53%;
  transform: translate(-50%, -50%);

  }
  #Therapie .icon-wrap-yellow img {
    width: 23px;
  position: absolute;
  top: 48%;
  left: 53%;
  transform: translate(-50%, -50%);
  }
  
  
  #Therapie .dark-purple {
    color: #994EDF;
    border-radius: 10px;
  }
  
  #Therapie .dark-yellow {
    color: #F29949;
    border-radius: 10px;
}


#Therapie .TheName{
    padding-left: 5%;
    color: #999999;
}

.therabieA h2{
  padding-bottom: 5px;
  font-size: 1.05rem;
  color: #314259;
  font-family: Roboto;
}

#Therapie .PR{
  font-size: .9rem;
  font-weight: 300;
  font-family: Roboto;
}



#Therapie .Neue-therpie{
  position: absolute;
  bottom: 0;
left: 0;
right: 0;
  background: #79CCAA;
  color: #ffffff;
  font-family: Lato;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

#Therapie .mml{
  color: #79CCAA;
  font-size: 16px;
  position: absolute;
  right: 45px;
  top: 20px;
 padding-top: 0;
}

#Therapie i{
  color: #79CCAA;
  position: absolute;
  right: 7%;
  top: 23px;
  padding-top: 0;
  }