#Therapie{
    min-height:100vh
}

#Therapie article{
    margin-top: 10%;
    font-size: 21px;
    box-shadow: 0px 6px 18px
     rgba(144, 164, 183, 0.22);
    border-radius: 4px;
    font-size: 21px;
    border: none;
    padding: 3%;
    display: flex;
    min-height: 100px;
    margin: 5% 5% 0 5%;
    
}



#Therapie img{
    margin-top: 25%;
    margin-right: 5%;
}

#Therapie .icon-wrap-purple {
    background: #b88ce2;
    border-radius: 10px;
  }
  
  #Therapie .icon-wrap-yellow {
    background: #FDEEE0;
    border-radius: 10px;
    height: 6%;
  }
  
  #Therapie .icon-wrap-purple img {
    height: 5vh;

  }
  #Therapie .icon-wrap-yellow img {
    height: 4vh;
    width: 100%;
  }
  
  
  #Therapie .dark-purple {
    color: #994EDF;
    border-radius: 10px;
  }
  
  #Therapie .dark-yellow {
    color: #F29949;
    border-radius: 10px;
}


.TheName{
    padding-left: 5%;
    color: #999999;
}

.therabieA h2{
    font-size: 17px;
    color: #314259;
    font-family: Roboto;
}

.PR{
    font-size: 16px;
    font-family: Roboto;
}



.Neue-therpie{
    background: #79CCAA;
    color: #ffffff;
    font-family: Lato;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;

}

.mml{
    font-size: 16px;
    position: absolute;
    right: 15%;
   padding-top: 9%;
}

#Therapie i{
    position: absolute;
    right: 7%;
    padding-top: 5%;
  }